<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <%= javascript_include_tag 'application'%>
    <%= stylesheet_link_tag    'application', media: 'all'%>

    <%= csrf_meta_tags %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js" charset="utf-8"></script>

    <link
  </head>
  <body>
    <h1>Michele's Bakery</h1>
    <%= link_to "About", about_path%>
    <%= link_to "Contact Us", contact_path%>
  </body>
</html>
